body {
    background-color: rgb(37, 21, 9);
}

#root {
    /* max-width: 100%; */
}

#app{
    position:absolute;
    top:0;
    bottom: 0px;
    left:0px;
    /* height: fit-content; */
    /* width: fit-content; */
    /* max-width: 100%; */
}

#tree {
    /* position:absolute; */
    /* top: 0; */
    /* left:0; */
    /* width: 100%; */
    height: 100%;
    z-index: -1;
}

.fruit {
    position: absolute;
    font-size: 4vh;
    z-index: 1;
}

#fruit1 {
    top: 65vh;
    left: 9vh;
}

#fruit2 {
    top: 72vh;
    left: 4vh;
}

#fruit3 {
    top: 9vh;
    left: 32vh;
}

#fruit4 {
    top: 45vh;
    left: 43vh;
}

#fruit5 {
    top: 47vh;
    left: 37vh;
}

#fruit6 {
    top: 12vh;
    left: 23vh;
}

#fruit7 {
    top: 47vh;
    left: 49vh;
}

#fruit8 {
    top: 54vh;
    left: 9vh;
}

#fruit9 {
    top: 81vh;
    left: 41vh;
}

#fruit10 {
    top: 55vh;
    left: 16vh;
}

#fruit11 {
    top: 35vh;
    left: 50vh;
}
#fruit12 {
    top: 82vh;
    left: 6vh;
}

#fruit13 {
    top: 13vh;
    left: 41vh;
}

#fruit14 {
    top: 0vh;
    left: 22vh;
}

#fruit15 {
    top: 75vh;
    left: 34vh;
}


.score{
    position: absolute;
    top:10px;
    width: 30%;
}

.scoreBackground{
    background-color: rgb(132, 47, 19);
    padding: 5px;
    border: solid 3px rgb(165, 95, 42);
    border-radius: 30px; 
}

.scoreLogo{
    position:absolute;
    float: left;
    font-size: 40px;  
    top: -7px;
}

.scoreNumber {
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
}

.timer {
    right:9px;
    position: absolute;
    width: 30%;
    top:10px;
}

.timeBackground{
    background-color: rgb(132, 47, 19);
    padding: 5px;
    border: solid 3px rgb(165, 95, 42);
    border-radius: 30px; 
}

.timeLogo{
    position:absolute;
    float: left;
    font-size: 40px;  
    top: -7px;
}

.timeNumber {
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
}

.StartGame {
    background-color: rgb(197, 23, 23);
    padding: 7%;
    font-size: 3vh;
    color: rgb(232, 205, 0);
    border: solid 3px rgb(232, 205, 0);
    border-radius: 15px;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
    position: absolute;
    left: 24%;
    right:24%;
    top: 70%;
    z-index: 1;
   

}

/* .watermark{
    
    height: 200px;
    width: 200px;
    border: 1px solid #aaa;
    margin: 10px;
    display: flex;
  } */
    


.suZhang{
    position: absolute;
    color: rgba(251, 253, 213, 0.786);
    font-size: 2vh;
    text-align: center;
    bottom: 20px;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;

    
}

.timeUp-container{
    position: absolute;
    color: rgb(232, 205, 0);
    height: 20%;
    top:20%;
    left: 10%;
    right:10%;
    
    border: solid 3px rgb(165, 95, 42);
    border-radius: 15px;
    overflow: hidden;
}

.timeUp-container img {
    width: 100%;
    height: 100%;
}

.timeUp {
    position: absolute;
    width: 100%;
    top: 10%;
    text-align: center;
    font-size: 5vh;
    font-family: 'Rubik Dirt', cursive;
}

.timeUp-container > .score{
    position: absolute;
    color: rgb(232, 205, 0);
    font-size: 3vh;
    /* font-family: 'Signika Negative', sans-serif; */
    top: 50%;
    left: 25%;
    font-family: 'Rubik Dirt', cursive;
}

.timeUp-container > .number{
    position: absolute;
    color: white;
    font-size: 3vh;
    /* font-family: 'Signika Negative', sans-serif; */
    top: 50%;
    left:55%;
    font-family: 'Rubik Dirt', cursive;
}