#root {
max-width: 100%;
}

#tree {
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    z-index: -1;
}

.fruit {
    position: absolute;
    font-size: 6vw;
    z-index: 1;
}

#fruit1 {
    top: 105vw;
    left: 29vw;
}

#fruit2 {
    top: 103vw;
    left: 86vw;
}

#fruit3 {
    top: 129vw;
    left: 25vw;
}

#fruit4 {
    top: 27vw;
    left: 49vw;
}

#fruit5 {
    top: 27vw;
    left: 82vw;
}

#fruit6 {
    top: 16vw;
    left: 35vw;
}

#fruit7 {
    top: 7vw;
    left: 52vw;
}

#fruit8 {
    top: 139vw;
    left: 17vw;
}

#fruit9 {
    top: 111vw;
    left: 78vw;
}

#fruit10 {
    top: 92vw;
    left: 21vw;
}

#fruit11 {
    top: 82vw;
    left: 60vw;
}
#fruit12 {
    top: 110vw;
    left: 14vw;
}

#fruit13 {
    top: 23vw;
    left: 73vw;
}

#fruit14 {
    top: 79vw;
    left: 69vw;
}

#fruit15 {
    top: 78vw;
    left: 88vw;
}


.score{
    position: absolute;
    width: 30%;
}

.scoreBackground{
    background-color: rgb(132, 47, 19);
    padding: 5px;
    border: solid 3px rgb(165, 95, 42);
    border-radius: 30px; 
}

.scoreLogo{
    position:absolute;
    float: left;
    font-size: 40px;  
    top: -7px;
}

.scoreNumber {
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
}

.time {
    right:9px;
    position: absolute;
    width: 30%;
}

.timeBackground{
    background-color: rgb(132, 47, 19);
    padding: 5px;
    border: solid 3px rgb(165, 95, 42);
    border-radius: 30px; 
}

.timeLogo{
    position:absolute;
    float: left;
    font-size: 40px;  
    top: -7px;
}

.timeNumber {
    overflow: hidden;
    color: white;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
}

.StartGame {
    background-color: rgb(197, 23, 23);
    padding: 20px;
    font-size: 5vw;
    color: rgb(232, 205, 0);
    border: solid 3px rgb(232, 205, 0);
    border-radius: 15px;
    width: 40%;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
    position: absolute;
    left: 29%;
    top: 45%;
    z-index: 1;
   

}
